# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env.local

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow.db
airflow.cfg
logs/

# Spark
metastore_db/
derby.log
spark-warehouse/
checkpoints/

# Docker
core/docker/.env

# Great Expectations
uncommitted/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# DuckDB
*.duckdb
*.duckdb.wal

# Jupyter
.ipynb_checkpoints/
