# PostgreSQL
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
POSTGRES_DB=de_learning
POSTGRES_PORT=5432

# Airflow
AIRFLOW_UID=50000
AIRFLOW_PORT=8080

# Spark
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8081
SPARK_WORKER_UI_PORT=8082

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
